{% extends 'htmls/project/main.html' %}
{% block content %}
{% if data %}
<div class="max-w-3xl mx-auto bg-white p-8 shadow-md rounded-xl mt-8 border border-blue-200">
    <h2 class="text-2xl font-bold text-blue-700 mb-4">{{ data.title }}</h2>

    <div class="space-y-2 text-gray-700">
        <p><span class="font-semibold">Status:</span> {{ data.status }}</p>
        <p><span class="font-semibold">Linked Project:</span> {{ data.project }}</p>
        <p><span class="font-semibold">Assigned To:</span> {{ data.assigned_to }}</p>
        <p><span class="font-semibold">Priority:</span> {{ data.priority }}</p>
        <p><span class="font-semibold">Due Date:</span> {{ data.due_date }}</p>
        <p><span class="font-semibold">About Task:</span> {{ data.description }}</p>
    </div>
</div>
{% else %}
<p class="text-center text-gray-500 mt-10">There is no Project available.</p>
{% endif %}
{% endblock %}
